#body{
    margin: 0px;
    overflow: hidden;
    background-color: blanchedalmond;
}
#headerDiv{
    display: flex;
    justify-content: center;
}
.button{
    padding: 10px;
    background-color: maroon;
    margin: 0px 5px 0px 5px;
    border: none;
    border-radius: 5px;
}
#mainDiv{
    margin: 2px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#canvasDiv{
    flex: 1;
    padding: 5px;
    display: flex;
    justify-content: center;
}
#gameCanvas{
    display: block;
    border: solid 2px;
    border-radius: 5px;
    background-color: cadetblue;
    image-rendering: pixelated;
}